<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.weibo.mapper.UserMapper">

    <select id="checkUser" resultType="int">
        SELECT id FROM users WHERE account=#{acc} AND password=#{psd}
    </select>

    <select id="checkUserExist" resultType="int">
        SELECT COUNT(*) FROM users WHERE account=#{acc}
    </select>

    <insert id="insertUser">
        INSERT INTO `users` (`name`, `bio`, `avatar`, `created`, `account`, `password`)
        VALUES ( #{name}, #{bio}, #{avatar}, #{created}, #{account},#{password});
    </insert>

    <select id="getUserById" resultType="com.zhang.weibo.entity.User">
        SELECT `id`, `name`, `bio`, `avatar`, `created`, `account`, `password`,
            (SELECT COUNT(followerId) FROM follows WHERE followerId = #{id}) as `follows`,
            (SELECT COUNT(id) FROM posts WHERE userId = #{id}) as `posts`,
            (SELECT COUNT(followeeId) FROM follows WHERE followeeId = #{id}) as `fans`
        FROM users
        WHERE id = #{id}
    </select>

    <select id="getFollowersByUser" resultType="com.zhang.weibo.entity.User">
        SELECT u.id, u.name, `bio`, `avatar`, u.created, `account`, '*******' as `password`,
         (u.id IN (SELECT followeeId FROM follows WHERE followerId = #{uid})) as followed
        FROM users as u JOIN follows as f ON u.id = f.followeeId
        WHERE f.followerId = #{uid}
    </select>

    <select id="getFolloweesByUser" resultType="com.zhang.weibo.entity.User">
        SELECT u.id, u.name, `bio`, `avatar`, u.created, `account`, '*******' as `password`,
        (u.id IN (SELECT followeeId FROM follows WHERE followerId = #{uid})) as followed
        FROM users as u JOIN follows as f ON u.id = f.followerId
        WHERE f.followeeId = #{uid}
    </select>

    <insert id="followUser">
        INSERT INTO follows (`followerId`, `followeeId`, `created`)
        VALUES (#{uid}, #{fid},#{time});
    </insert>

    <delete id="disFollowUser">
        DELETE FROM follows
        WHERE followerId = #{uid} AND followeeId = #{fid}
    </delete>
</mapper>
